Decentlab_Edge_box_influxDBcloud.txt
[{"id":"3a48c1d8.d8a55e","type":"function","z":"25a9f020.e3e14","name":"curl","func":"msg.payload = 'curl -POST \"https://eu-central-1-1.aws.cloud2.influxdata.com/api/v2/write?org=your_email&bucket=your_bucket&precision=s\" --header \"Authorization: Token your_tocken\" --data-raw \"mem,host=host1 '\nreturn msg;","outputs":1,"noerr":0,"x":527,"y":109,"wires":[["dbab7ab3.94e2b8","f87fd488.32bc88"]]},{"id":"87ea1530.8e6c48","type":"debug","z":"25a9f020.e3e14","name":"","active":true,"console":false,"complete":"false","x":1082,"y":130,"wires":[]},{"id":"e5d212b0.fb5f4","type":"debug","z":"25a9f020.e3e14","name":"","active":true,"console":false,"complete":"false","x":1079,"y":177,"wires":[]},{"id":"67c16e0c.8aefe","type":"debug","z":"25a9f020.e3e14","name":"","active":true,"console":false,"complete":"false","x":1079,"y":218,"wires":[]},{"id":"dbab7ab3.94e2b8","type":"function","z":"25a9f020.e3e14","name":"data=topic","func":"var data = msg.topic\nmsg.payload=msg.payload + data + '\"'\nreturn msg;","outputs":1,"noerr":0,"x":667.5,"y":161,"wires":[["ea186793.af9888","18eb3416.0030cc"]]},{"id":"f87fd488.32bc88","type":"debug","z":"25a9f020.e3e14","name":"curl","active":true,"console":false,"complete":"payload","x":669,"y":99,"wires":[]},{"id":"ea186793.af9888","type":"debug","z":"25a9f020.e3e14","name":"curl + data","active":true,"console":false,"complete":"payload","x":853,"y":87,"wires":[]},{"id":"18eb3416.0030cc","type":"exec","z":"25a9f020.e3e14","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"curl http exec","x":888,"y":164.5,"wires":[["87ea1530.8e6c48"],["e5d212b0.fb5f4"],["67c16e0c.8aefe"]]},{"id":"d76fe44b.622d78","type":"function","z":"25a9f020.e3e14","name":"topic=data","func":"msg.topic ='battery_voltage=2.45,air_temperature=21.21,air_humidity=80.11,barometric_pressure=96412,ambient_light=610,CO2_concentration=455,Raw_IR_reading=37844,PIR_activity_counter=25,Gas_sensor_total_VOC=273';\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":110,"wires":[["3a48c1d8.d8a55e"]]},{"id":"3101e1fd.d9aabe","type":"inject","z":"25a9f020.e3e14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":186,"y":120,"wires":[["d76fe44b.622d78"]]},{"id":"65457106.f0c9a","type":"comment","z":"25a9f020.e3e14","name":"InfluxDB Cloud injection","info":"","x":416,"y":70,"wires":[]},{"id":"c1c0752b.47df58","type":"mqtt in","z":"25a9f020.e3e14","name":"","topic":"decentlab1632020/devices/3054/up","qos":"2","broker":"975cf206.b3055","x":245,"y":309,"wires":[["1940477c.70e1f9","849da103.c4353"]]},{"id":"1940477c.70e1f9","type":"debug","z":"25a9f020.e3e14","name":"","active":false,"console":"false","complete":"false","x":529,"y":304,"wires":[]},{"id":"1c798d8a.d72da2","type":"comment","z":"25a9f020.e3e14","name":"For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ","info":"\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)","x":319,"y":252,"wires":[]},{"id":"849da103.c4353","type":"function","z":"25a9f020.e3e14","name":"Decrypt Payload","func":"// msg1 - Unencrypted\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_raw;\n\nreturn msg1;","outputs":1,"noerr":0,"x":248,"y":398,"wires":[["ab6ad867.720698","170c757c.e154cb"]]},{"id":"ab6ad867.720698","type":"debug","z":"25a9f020.e3e14","name":"payload_raw ","active":false,"console":"false","complete":"payload","x":457,"y":398,"wires":[]},{"id":"be2e4923.f420d8","type":"debug","z":"25a9f020.e3e14","name":"decoded","active":false,"console":false,"complete":"payload","x":474.00000762939453,"y":472.9999771118164,"wires":[]},{"id":"daffbf9f.9b48e","type":"function","z":"25a9f020.e3e14","name":"version","func":"var a={payload: msg.payload[0]};\nreturn a;","outputs":1,"noerr":0,"x":482.55554962158203,"y":514.0000047683716,"wires":[["4f61b08e.50157"]]},{"id":"5f13c878.250558","type":"function","z":"25a9f020.e3e14","name":"device id","func":"msg.payload = msg.payload.readUInt16BE(1)\nreturn msg;\n","outputs":1,"noerr":0,"x":469.9443893432617,"y":552.3333139419556,"wires":[["4bc62028.0bcdc"]]},{"id":"c207e690.159f18","type":"function","z":"25a9f020.e3e14","name":"battery voltage","func":"msg.payload = msg.payload.readUInt16BE(5)/1000\nreturn msg;\n","outputs":1,"noerr":0,"x":484.4999771118164,"y":630.8888473510742,"wires":[["3c259e71.c7f392"]]},{"id":"127d339.663f1cc","type":"function","z":"25a9f020.e3e14","name":"flags","func":"msg.payload = msg.payload.readUInt16LE(3)\nreturn msg;\n","outputs":1,"noerr":0,"x":458.4999771118164,"y":591.6666793823242,"wires":[["e0ccd92e.7dec28"]]},{"id":"67140749.0192c8","type":"function","z":"25a9f020.e3e14","name":"air temperature","func":"msg.payload = ((msg.payload.readUInt16BE(7))/65535)*175-45;\nreturn msg;\n","outputs":1,"noerr":0,"x":487.67449951171875,"y":671.5555419921875,"wires":[["b648e6d5.8d5698"]]},{"id":"a7199b82.ade048","type":"function","z":"25a9f020.e3e14","name":"air_humidity","func":"\nmsg.payload = ((msg.payload.readUInt16BE(9))/65535)*100;\nreturn msg;","outputs":1,"noerr":0,"x":473.0833206176758,"y":712.3611373901367,"wires":[["41043e2f.bf513"]]},{"id":"64c8d94a.258278","type":"function","z":"25a9f020.e3e14","name":"barometric_pressure","func":"\nmsg.payload = (msg.payload.readUInt16BE(11))*2;\nreturn msg;","outputs":1,"noerr":0,"x":501.0833206176758,"y":753.3611373901367,"wires":[["876492e0.c8fec"]]},{"id":"2aa5efd3.bef3e","type":"function","z":"25a9f020.e3e14","name":"ambient_light_ch0","func":"\nmsg.payload = (msg.payload.readUInt16BE(13));\nreturn msg;","outputs":1,"noerr":0,"x":488.0833206176758,"y":790.3611373901367,"wires":[["510e312f.8cefb"]]},{"id":"1387cf28.394df1","type":"function","z":"25a9f020.e3e14","name":"ambient_light_ch1","func":"\nmsg.payload = (msg.payload.readUInt16BE(15));\nreturn msg;","outputs":1,"noerr":0,"x":488.0833206176758,"y":832.3611373901367,"wires":[["e806ba7c.f0de68"]]},{"id":"b8d032a6.7ec48","type":"function","z":"25a9f020.e3e14","name":"co2_concentration","func":"msg.payload = (msg.payload.readUInt16BE(17))-32768;\nreturn msg;","outputs":1,"noerr":0,"x":485.0833206176758,"y":870.3611373901367,"wires":[["54ba37dc.110628"]]},{"id":"4c3ccfcf.8a92c","type":"function","z":"25a9f020.e3e14","name":"co2_sensor_status","func":"msg.payload = msg.payload.readUInt16BE(19);\nreturn msg;","outputs":1,"noerr":0,"x":486.0833206176758,"y":907.3611373901367,"wires":[["fa007c8d.7f5e4"]]},{"id":"f3a2b00e.a8cb5","type":"function","z":"25a9f020.e3e14","name":"Raw_IR_reading","func":"msg.payload = msg.payload.readUInt16BE(21);\nreturn msg;","outputs":1,"noerr":0,"x":484.0833206176758,"y":944.3611373901367,"wires":[["65b35196.ace7f"]]},{"id":"b4526a17.e441d8","type":"function","z":"25a9f020.e3e14","name":"PIR_activity_counter","func":"msg.payload = msg.payload.readUInt16BE(23);\nreturn msg;","outputs":1,"noerr":0,"x":491.0833206176758,"y":982.3611373901367,"wires":[["fcc75cc6.ebb4d"]]},{"id":"1ea27ab3.866475","type":"function","z":"25a9f020.e3e14","name":"Gas_sensor_total_VOC","func":"msg.payload = msg.payload.readUInt16BE(25);\nreturn msg;","outputs":1,"noerr":0,"x":497.0833206176758,"y":1021.3611497879028,"wires":[["ddfb6c89.405f4"]]},{"id":"170c757c.e154cb","type":"function","z":"25a9f020.e3e14","name":"Base64 decoder","func":"var b= new Buffer(msg.payload, 'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":233,"y":521,"wires":[["be2e4923.f420d8","daffbf9f.9b48e","5f13c878.250558","127d339.663f1cc","c207e690.159f18","67140749.0192c8","a7199b82.ade048","64c8d94a.258278","2aa5efd3.bef3e","1387cf28.394df1","b8d032a6.7ec48","4c3ccfcf.8a92c","f3a2b00e.a8cb5","b4526a17.e441d8","1ea27ab3.866475","e925a790.49e938"]]},{"id":"4f61b08e.50157","type":"debug","z":"25a9f020.e3e14","name":"version","active":false,"console":false,"complete":"payload","x":709.0000610351562,"y":512,"wires":[]},{"id":"4bc62028.0bcdc","type":"debug","z":"25a9f020.e3e14","name":"device id","active":false,"console":false,"complete":"payload","x":710.5555419921875,"y":550.2222595214844,"wires":[]},{"id":"3c259e71.c7f392","type":"debug","z":"25a9f020.e3e14","name":"battery voltage","active":false,"console":false,"complete":"payload","x":732.1111450195312,"y":627.5555419921875,"wires":[]},{"id":"e0ccd92e.7dec28","type":"debug","z":"25a9f020.e3e14","name":"flags","active":false,"console":false,"complete":"payload","x":701.111083984375,"y":589.4444885253906,"wires":[]},{"id":"b648e6d5.8d5698","type":"debug","z":"25a9f020.e3e14","name":"air temperature","active":false,"console":false,"complete":"payload","x":729.3333129882812,"y":668.2222900390625,"wires":[]},{"id":"41043e2f.bf513","type":"debug","z":"25a9f020.e3e14","name":"air humidity","active":false,"console":false,"complete":"payload","x":717.138916015625,"y":710.2500610351562,"wires":[]},{"id":"876492e0.c8fec","type":"debug","z":"25a9f020.e3e14","name":"barometric_pressure","active":false,"console":false,"complete":"payload","x":746.138916015625,"y":748.2500610351562,"wires":[]},{"id":"510e312f.8cefb","type":"debug","z":"25a9f020.e3e14","name":"ambient_light_ch0","active":false,"console":false,"complete":"payload","x":733.138916015625,"y":786.2500610351562,"wires":[]},{"id":"e806ba7c.f0de68","type":"debug","z":"25a9f020.e3e14","name":"ambient_light_ch1","active":false,"console":false,"complete":"payload","x":728.138916015625,"y":828.2500610351562,"wires":[]},{"id":"54ba37dc.110628","type":"debug","z":"25a9f020.e3e14","name":"co2_concentration","active":false,"console":false,"complete":"payload","x":725.138916015625,"y":866.2500610351562,"wires":[]},{"id":"fa007c8d.7f5e4","type":"debug","z":"25a9f020.e3e14","name":"co2_sensor_status","active":false,"console":false,"complete":"payload","x":720.138916015625,"y":903.2500610351562,"wires":[]},{"id":"65b35196.ace7f","type":"debug","z":"25a9f020.e3e14","name":"Raw_IR_reading","active":false,"console":false,"complete":"payload","x":722.138916015625,"y":940.2500610351562,"wires":[]},{"id":"fcc75cc6.ebb4d","type":"debug","z":"25a9f020.e3e14","name":"PIR_activity_counter","active":false,"console":false,"complete":"payload","x":733.138916015625,"y":978.2500610351562,"wires":[]},{"id":"ddfb6c89.405f4","type":"debug","z":"25a9f020.e3e14","name":"Gas_sensor_total_VOC","active":false,"console":false,"complete":"payload","x":742.138916015625,"y":1020.2500734329224,"wires":[]},{"id":"e925a790.49e938","type":"function","z":"25a9f020.e3e14","name":"Build data stream to be send to InfluxDB cloud","func":"var version = msg.payload[0];\nvar device_id = msg.payload.readUInt16BE(1);\nvar flags = msg.payload.readUInt16LE(3);\nvar battery_voltage = msg.payload.readUInt16BE(5)/1000;\nvar air_temperature = parseFloat((((msg.payload.readUInt16BE(7))/65535)*175-45).toFixed(2));\nvar air_humidity = parseFloat((((msg.payload.readUInt16BE(9))/65535)*100).toFixed(2));\nvar barometric_pressure = (msg.payload.readUInt16BE(11))*2;\nvar ambient_light_CH0 = msg.payload.readUInt16BE(13);\nvar ambient_light_CH1 = msg.payload.readUInt16BE(15);\nvar co2_concentration = (msg.payload.readUInt16BE(17))-32768;\nvar co2_sensor_status = msg.payload.readUInt16BE(19);\nvar Raw_IR_reading = msg.payload.readUInt16BE(21);\nvar PIR_activity_counter = msg.payload.readUInt16BE(23);\nvar Gas_sensor_total_VOC = msg.payload.readUInt16BE(25);\n\nmsg.topic ='battery_voltage='+ battery_voltage + \n',air_temperature=' + air_temperature + \n',air_humidity=' + air_humidity + \n',barometric_pressure=' + barometric_pressure + \n',ambient_light=' + ambient_light_CH0 + \n',CO2_concentration=' + co2_concentration + \n',Raw_IR_reading=' + Raw_IR_reading + \n',PIR_activity_counter=' + PIR_activity_counter +\n',Gas_sensor_total_VOC=' + Gas_sensor_total_VOC;\n\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":437,"wires":[["7f67dc97.f2b3d4","3a48c1d8.d8a55e"]]},{"id":"7f67dc97.f2b3d4","type":"debug","z":"25a9f020.e3e14","name":"","active":true,"console":"false","complete":"false","x":920,"y":448,"wires":[]},{"id":"975cf206.b3055","type":"mqtt-broker","z":"25a9f020.e3e14","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]